################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CandidateApi/.vs
/CandidateApi/CandidateApi/obj
